@model IEnumerable<Blog.Models.Comentariu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Comentarii neaprobate", "Index", new { neaprobate = false})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titlu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCreare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprobat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postare.Titlu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titlu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCreare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprobat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postare.Titlu)
        </td>
        <td>
            @if (!item.Aprobat)
            {
                @Html.ActionLink("Aproba", "Aproba", new { comentariuID = item.Id })

            }
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
