@model ICollection<CrmManagerMvc.Models.Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr class="table-bordered">
        <td class="table-bordered">FirstName</td>
        <td class="table-bordered">SecondName</td>
        <td class="table-bordered">Country</td>
        <td class="table-bordered">City</td>
        <td class="table-bordered">Phone Number</td>
    </tr>
    @foreach (var customer in Model)
    {
        <tr class="table-bordered">
            <td class="table-bordered">@customer.FirstName</td>
            <td class="table-bordered">@customer.LastName</td>
            <td class="table-bordered">@customer.Country</td>
            <td class="table-bordered">@customer.City</td>
            <td class="table-bordered">@customer.Phone</td>
            <td class="table-bordered">
                @Html.ActionLink("Details", "Details", "Customer", new { id = customer.Id }, null)
            </td>
        </tr>
    }
</table>
@{
    Html.RenderAction("_NumarTotalClienti");
}