@model CrmManagerMvc.ViewModels.CustomerIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Translations.GetTextFor("Title")</h2>
@Html.Partial("_Pagging", Model.PageInfo)
<table>
    <tr class="table-bordered">
        <td class="table-bordered">@Model.Translations.GetTextFor("FullName")</td>
        <td class="table-bordered">@Model.Translations.GetTextFor("Country")</td>
        <td class="table-bordered">@Model.Translations.GetTextFor("Phone")</td>
        <td class="table-bordered">@Model.Translations.GetTextFor("Details")</td>
    </tr>
    @foreach (var customer in Model.CustomerList)
    {
        <tr class="table-bordered">
            <td class="table-bordered">@customer.FullName</td>
            <td class="table-bordered">@customer.Country</td>
            <td class="table-bordered">@customer.Phone</td>
            <td class="table-bordered">
                @Html.ActionLink(@Model.Translations.GetTextFor("Details"), "Details", "Customer", new { id = customer.Id }, null)
            </td>
        </tr>
    }
</table>
@Html.Partial("_Pagging", Model.PageInfo)
@{
    Html.RenderAction("_NumarTotalClienti");
}