@model ICollection<CrmManagerMvc.Models.Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string details = string.Empty;
    string firstName = string.Empty;
    string secondName = string.Empty;
    string country = string.Empty;
    string city = string.Empty;
    string phoneNumber = string.Empty;
    string lang = ViewContext.RouteData.Values["language"].ToString();
    switch (lang)
    {
        case "en":
            firstName = "First name";
            secondName = "Second name";
            country = "Country";
            city = "City";
            phoneNumber = "Phone number";
            details = "Details";
            break;
        case "ro":
            firstName = "Name";
            secondName = "Prenume";
            country = "Tara";
            city = "Oras";
            phoneNumber = "Numar de telefon";
            details = "Detalii";
            break;
        default:
            break;
    }
}

<h2>@ViewBag.Title</h2>

<table>
    <tr class="table-bordered">
        <td class="table-bordered">@firstName</td>
        <td class="table-bordered">@secondName</td>
        <td class="table-bordered">@country</td>
        <td class="table-bordered">@city</td>
        <td class="table-bordered">@phoneNumber</td>
    </tr>
    @foreach (var customer in Model)
    {
<tr class="table-bordered">
    <td class="table-bordered">@customer.FirstName</td>
    <td class="table-bordered">@customer.LastName</td>
    <td class="table-bordered">@customer.Country</td>
    <td class="table-bordered">@customer.City</td>
    <td class="table-bordered">@customer.Phone</td>
    <td class="table-bordered">
        @Html.ActionLink(details, "Details", "Customer", new { id = customer.Id}, null)
    </td>
</tr>
    }
</table>