@model ICollection<CustomerMVC.Models.Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr class="table-bordered table-condensed" style="color:black">
        <td class="table-bordered table-condensed" style="color:black">@ViewBag.FirstName</td>
        <td class="table-bordered table-condensed" style="color:black">@ViewBag.LastName</td>
        <td class="table-bordered table-condensed" style="color:black">@ViewBag.Phone</td>
    </tr>
    @foreach (var customers in Model)

    {
<tr class="table-bordered table-condensed" style="color:black">
    <td class="table-bordered table-condensed" style="color:black">@customers.FirstName</td>
    <td class="table-bordered table-condensed" style="color:black">@customers.LastName</td>
    <td class="table-bordered table-condensed" style="color:black">@customers.Phone</td>
</tr>
    }
</table>

