@model CrmManagerMvc.ViewModels.LanguageViewModel

<ul class="nav navbar-nav navbar-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
        <ul class="dropdown-menu">
            <li class="dropdown-item" href="#"><a href="@Model.GetUrlFor(CrmManagerMvc.Enums.RouteTypes.Language, "ro")">Romana</a></li>
            <li class="dropdown-item" href="#"><a href="@Model.GetUrlFor(CrmManagerMvc.Enums.RouteTypes.Language, "en")">English</a></li>
            <li class="dropdown-item" href="#"><a href="@Model.GetUrlFor(CrmManagerMvc.Enums.RouteTypes.Language, "fr")">Francaise</a></li>
        </ul>
    </li>
    <li>
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Theme</a>
        <ul class="dropdown-menu">
            <li class="dropdown-item" href="#"><a href="@Model.GetUrlFor(CrmManagerMvc.Enums.RouteTypes.Theme, "theme-white")">White</a></li>
            <li class="dropdown-item" href="#"><a href="@Model.GetUrlFor(CrmManagerMvc.Enums.RouteTypes.Theme, "theme-dark")">Dark</a></li>
        </ul>
    </li>
</ul>
