<!DOCTYPE html>
@{ 
    string UrlController = (string)ViewContext.RouteData.Values["controller"];
    string UrlAction = (string)ViewContext.RouteData.Values["action"];
    string UrlId = (string)ViewContext.RouteData.Values["id"];
    string UrlTheme = (string)ViewContext.RouteData.Values["theme"];
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class=@UrlTheme>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li> 
                    <li>@Html.ActionLink("Clienti", "Index", "Customer")</li>
                    <li>@Html.ActionLink("Furnizori", "Index", "Supplier", new { nrPagina = 1}, null)</li>
                    <li>@Html.ActionLink("Furnizori cu paginare", "Paging", "Supplier", new { pageNumber = 1}, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_LanguagePartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <div class="row">
            <div class="col-md-9">
        @RenderBody()   
            </div>
            <div class="col-md-3">
                @{
                    Html.RenderAction("_NumarAccesari", "Accesari", new { numePagina = UrlController + UrlAction, id = UrlId});
                    Html.RenderAction("_RankingPartial", "Ranking", new { controllerName = UrlController});
                    }
            </div>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
