@model  PagedList.IPagedList<CrmManagerMvc.Models.Supplier>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string cp = string.Empty;
    string cn = string.Empty;
    string ct = string.Empty;
    string city = string.Empty;
    string country = string.Empty;
    string pn = string.Empty;
    string fax = string.Empty;
    string lang = ViewContext.RouteData.Values["language"].ToString();
    switch (lang)
    {
        case "en":
            cp = "Company name";
            cn = "Contact name";
            ct = "Contact title";
            city = "City";
            country = "Country";
            pn = "Phone number";
            fax = "Fax";
            break;
        case "ro":
            cp = "Numele companiei";
            cn = "Numele de contact";
            ct = "Titlul de contact";
            city = "Oras";
            country = "Tara";
            pn = "Numar de telefon";
            fax = "Fax";
            break;
        default:
            break;
    }
}

<h2>@ViewBag.Title</h2>

<table>
    <tr class="table-bordered">
        <td class="table-bordered">@cp</td>
        <td class="table-bordered">@cn</td>
        <td class="table-bordered">@ct</td>
        <td class="table-bordered">@city</td>
        <td class="table-bordered">@country</td>
        <td class="table-bordered">@pn</td>
        <td class="table-bordered">@fax</td>
    </tr>
    @foreach (var supplier in Model)
    {
        <tr class="table-bordered">
            <td class="table-bordered">@supplier.CompanyName</td>
            <td class="table-bordered">@supplier.ContactName</td>
            <td class="table-bordered">@supplier.ContactTitle</td>
            <td class="table-bordered">@supplier.City</td>
            <td class="table-bordered">@supplier.Country</td>
            <td class="table-bordered">@supplier.Phone</td>
            <td class="table-bordered">@supplier.Fax</td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("Paging", new { pageNumber}))
