@model  PagedList.IPagedList<CrmManagerMvc.Models.Supplier>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr class="table-bordered">
        <td class="table-bordered">Company name</td>
        <td class="table-bordered">Contact name</td>
        <td class="table-bordered">Contact title</td>
        <td class="table-bordered">City</td>
        <td class="table-bordered">Country</td>
        <td class="table-bordered">Phone</td>
        <td class="table-bordered">Fax</td>
    </tr>
    @foreach (var supplier in Model)
    {
        <tr class="table-bordered">
            <td class="table-bordered">@supplier.CompanyName</td>
            <td class="table-bordered">@supplier.ContactName</td>
            <td class="table-bordered">@supplier.ContactTitle</td>
            <td class="table-bordered">@supplier.City</td>
            <td class="table-bordered">@supplier.Country</td>
            <td class="table-bordered">@supplier.Phone</td>
            <td class="table-bordered">@supplier.Fax</td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("Paging", new { pageNumber }))
@Html.Partial("_DummyPartial")
